<!DOCTYPE HTML>
{% load staticfiles %}
<html>
        <head>
            <meta charset="utf-8">
            <title>KhulKost blog</title>
            <link href="https://fonts.googleapis.com/css?family=Bungee+Outline" rel="stylesheet" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet" type="text/css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        </head>
        <body>
            <div class="page-header">
                {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-pencil"></span></a>
                {% endif %}
                <h1><a href="/">KhulKost Blog</a></h1>
            </div>
            <div class="content container">
                <div class="row">
                    <div class="col">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </body>
</html>
