{% extends 'blog/base.html' %}
{% load staticfiles %}
    {% block content %}
        <div class="other-text">
            {% if post.published_date %}
                <div class="published">
                    published: {{ post.published_date }}
                </div>
            {% endif %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <h1 class="head_article">{{ post.title }}</h1>
            <p class="text">{{ post.text|linebreaksbr }}</p>
        </div>
        <h4>Comments</h4>
        <form method="POST" class="comments">{% csrf_token %}
            <textarea name="comment" cols="40" rows="3"></textarea></p>
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    {% endblock %}
