{% extends 'blog/base.html' %}
    {% load staticfiles %}
        {% block content %}
            {% for post in posts %}
                <div class="other-text">
                    <div class="published">
                        published: {{ post.published_date }}
                    </div>
                    <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                        <p class="text">{{ post.text|linebreaksbr }}</p>
                </div>
{% endfor %}
{% endblock content %}
