.page-header {
    background-color: #060615;
    margin-top: auto;
    padding: 20px;
}
@font-face {
    font-family: "Comme-Thin";
    font-style: normal;
    font-weight: 400;
    src: local(AkademieAlte), url("../fonts/Comme-Thin.ttf") format('truetype');
}

h1 a {
      color: #29ff07;
      font-family: 'Comme-Thin';
}
h2 a {
    color: #6facff;
    font-family: fantasy;
}

div.other-text {
       padding-left: 15px;
}

.published {
    color: orange;
}

p.text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: #02222E;
}

h1.head_article {
    color: #6facff;
    font-family: fantasy;
}
body {
    background-color: #ecfffd;
}
