.page-header {
    background-color: #060615;
    margin-top: auto;
    padding: 20px;
}
@font-face {
    font-family: "Aganel 65 (Bold)";
    font-style: normal;
    font-weight: normal;
    src: local(AkademieAlte), url("../fonts/Aganel 65 (Bold).ttf") format('truetype');
}

h1 a {
      color: #29ff07;
      font-family: 'Aganel 65 (Bold)';
}
h2 a {
    color: #6facff;
    font-family: fantasy;
}

.other-text {
       padding-left: 15px;
}

.published {
    color: orange;
}

p.text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: #02222E;
}

body {
    background-color: #ecfffd;
}
